.dock-pos-indicator {
    -fx-padding: 5;
    -fx-shape: "M0,10 a10,10 0 1,0 20,0 a10,10 0 1,0 -20,0";
    -fx-background-color: rgba(18, 109, 149, 0.4);
    -fx-min-width: 130px;
    -fx-min-height: 130px;
    -fx-border-width: 10;
    -fx-border-color: rgba(18, 109, 149, 0.2);
}

.adjacent-drop {
    -fx-background-color: -fx-body-color;
    -fx-border-width: 1;
    -fx-border-color: -fx-focus-color;
}

.drop-left {
    -fx-shape:"M10,0 L0,10 L10,20 Z";
    -fx-min-height: 60px;
    -fx-min-width: 30px;
    -fx-max-height: 60px;
    -fx-max-width: 30px;
}

.drop-right {
    -fx-shape:"M10,0 L10,20 L20,10 Z";
    -fx-min-height: 60px;
    -fx-min-width: 30px;
    -fx-max-height: 60px;
    -fx-max-width: 30px;
}

.drop-top {

    -fx-shape:"M10,0 L0,10 L20,10 Z";
    -fx-min-height: 30px;
    -fx-min-width: 60px;
    -fx-max-height: 30px;
    -fx-max-width: 60px;
}
.drop-bottom {
    -fx-shape:"M0,0 L10,10 L20,0 Z";
    -fx-min-height: 30px;
    -fx-min-width: 60px;
    -fx-max-height: 30px;
    -fx-max-width: 60px;
}

.drop-path {
    -fx-stroke : WHITE;
    /*-fx-stroke-width: 2;*/
    -fx-stroke-line-join: bevel;
}

.root {
    -fx-background-color: #f4f4f4;
    -fx-font-family: 'Courier New', monospace;
    -fx-font-size: 12px;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: #2980b9;
}

.button:pressed {
    -fx-background-color: #2471a3;
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
}

.text-field, .text-area {
    -fx-background-color: #ffffff;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 12px;
}

.text-field:focused, .text-area:focused {
    -fx-border-color: #3498db;
}

.menu-bar {
    -fx-background-color: #2c3e50;
}

.menu-bar .label {
    -fx-text-fill: #ecf0f1;
}

.menu-item .label {
    -fx-text-fill: #2c3e50;
}

.menu-item:hover {
    -fx-background-color: #ecf0f1;
}

.list-view, .tree-view, .table-view {
    -fx-background-color: #C6CFCE;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 1px;
}

.list-cell:filled:selected, .tree-cell:filled:selected, .table-row-cell:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
}

.scroll-bar:vertical {
    -fx-background-color: #ecf0f1;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #bdc3c7;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.scroll-bar:horizontal {
    -fx-background-color: #ecf0f1;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #bdc3c7;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.code-font-tree .tree-cell {
    -fx-font-family: 'Courier New', monospace;
    -fx-font-size: 12px;
}

.entry-view .tree-table-cell {
    -fx-font-family: 'Courier New', monospace;
    -fx-font-size: 14px;
}

.custom-tree-view {
    -fx-background-color: #FFD700;  /* Change this color to your preference */
}

.custom-split-pane {
    /* Making edges of the SplitPane smooth */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.custom-split-pane .split-pane-divider {
    /* Changing the color of the divider to blue */
    -fx-background-color: blue;

    /* Making divider's borders very small and edges smooth */
    -fx-border-width: 0.5px;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
}

.detachable-tab-pane .tab-label {
    -fx-text-fill: blue;  /* Change foreground color to blue */
}

.detachable-tab-pane .tab {
    -fx-border-width: 0.5px; /* Make borders very small */
    -fx-border-color: grey;  /* Optional: define a border color */
    -fx-background-radius: 5px;  /* Smooth (round) the tab edges */
    -fx-border-radius: 5px;  /* Smooth (round) the tab borders */
}

.detachable-tab-pane .tab-header-background {
    -fx-background-radius: 5px;  /* Smooth (round) the header edges */
}

.detachable-tab-pane {
    -fx-border-radius: 5px;  /* Smooth (round) the TabPane's edges */
}

.tab-pane .tab-label {
    -fx-text-fill: blue;  /* Change foreground color to blue */
}

.tab-pane .tab {
    -fx-border-width: 0.5px;  /* Make borders very small */
    -fx-border-color: grey;   /* Optional: define a border color */
    -fx-background-radius: 5px;  /* Smooth (round) the tab edges */
    -fx-border-radius: 5px;  /* Smooth (round) the tab borders */
}

.tab-pane .tab-header-background {
    -fx-background-radius: 5px;  /* Smooth (round) the header edges */
}

.tab-pane {
    -fx-border-radius: 5px;  /* Smooth (round) the TabPane's edges */
}



/* Add more styles as needed for other controls */
