

.gradle/
build/
*.class
*.log
*.settings.xml

# IDEA
*.iml
*.ipr
*.iws
.idea/
out/



bin/main/log4j2.properties
bin/main/ch/vilki/jfxldap/ApplicationVersion.kt
bin/main/ch/vilki/jfxldap/style.css
bin/main/ch/vilki/jfxldap/backend/AttributeDifference.kt
bin/main/ch/vilki/jfxldap/backend/CmdLine.kt
bin/main/ch/vilki/jfxldap/backend/CollectionEntry.kt
bin/main/ch/vilki/jfxldap/backend/CompResult.kt
bin/main/ch/vilki/jfxldap/backend/Config.kt
bin/main/ch/vilki/jfxldap/backend/CustomEntryItem.kt
bin/main/ch/vilki/jfxldap/backend/Errors.kt
bin/main/ch/vilki/jfxldap/backend/IProgress.kt
bin/main/ch/vilki/jfxldap/backend/KHelper.kt
bin/main/ch/vilki/jfxldap/backend/LDAPReader.kt
bin/main/ch/vilki/jfxldap/backend/SearchEntry.kt
bin/main/ch/vilki/jfxldap/fxml/Attributes.fxml
bin/main/ch/vilki/jfxldap/fxml/CollectionProject.fxml
bin/main/ch/vilki/jfxldap/fxml/CollectionsWindow.fxml
bin/main/ch/vilki/jfxldap/fxml/DeleteEntriesWindow.fxml
bin/main/ch/vilki/jfxldap/fxml/export_attribute.fxml
bin/main/ch/vilki/jfxldap/fxml/ExportWindow.fxml
bin/main/ch/vilki/jfxldap/fxml/FilterWindow.fxml
bin/main/ch/vilki/jfxldap/fxml/KeyStoreWindow.fxml
bin/main/ch/vilki/jfxldap/fxml/LdapCompareWindow.fxml
bin/main/ch/vilki/jfxldap/fxml/LdapExplore.fxml
bin/main/ch/vilki/jfxldap/fxml/MainWindow.fxml
bin/main/ch/vilki/jfxldap/fxml/ModificationEntry.fxml
bin/main/ch/vilki/jfxldap/fxml/ModificationView.fxml
bin/main/ch/vilki/jfxldap/fxml/ProgressWindow.fxml
bin/main/ch/vilki/jfxldap/fxml/SearchResult.fxml
bin/main/ch/vilki/jfxldap/fxml/Settings.fxml
bin/main/ch/vilki/jfxldap/fxml/ShowEntry.fxml
bin/main/ch/vilki/jfxldap/fxml/StartLdapCompare.fxml
bin/main/ch/vilki/jfxldap/fxml/StartLdapSearch.fxml
bin/main/ch/vilki/jfxldap/gui/ControllerManager.kt
bin/main/ch/vilki/jfxldap/gui/DeleteEntriesController.kt
bin/main/ch/vilki/jfxldap/gui/ExportAttributeController.kt
bin/main/ch/vilki/jfxldap/gui/Messages.kt
bin/main/ch/vilki/jfxldap/icons/add.png
bin/main/ch/vilki/jfxldap/icons/Alert.png
bin/main/ch/vilki/jfxldap/icons/app.png
bin/main/ch/vilki/jfxldap/icons/Arrow-icon.png
bin/main/ch/vilki/jfxldap/icons/Back.png
bin/main/ch/vilki/jfxldap/icons/bookmark_red.png
bin/main/ch/vilki/jfxldap/icons/closeFile.png
bin/main/ch/vilki/jfxldap/icons/compare_small.png
bin/main/ch/vilki/jfxldap/icons/compare.png
bin/main/ch/vilki/jfxldap/icons/copypaste_small.png
bin/main/ch/vilki/jfxldap/icons/docknode.png
bin/main/ch/vilki/jfxldap/icons/dropDownDouble.png
bin/main/ch/vilki/jfxldap/icons/dropDownMain.png
bin/main/ch/vilki/jfxldap/icons/equal.png
bin/main/ch/vilki/jfxldap/icons/export_small.png
bin/main/ch/vilki/jfxldap/icons/Forward.png
bin/main/ch/vilki/jfxldap/icons/Good_mark.png
bin/main/ch/vilki/jfxldap/icons/icon_sort.png
bin/main/ch/vilki/jfxldap/icons/icon-entry_small.png
bin/main/ch/vilki/jfxldap/icons/icon-entry.png
bin/main/ch/vilki/jfxldap/icons/icon-filter-off.png
bin/main/ch/vilki/jfxldap/icons/icon-filter-on.png
bin/main/ch/vilki/jfxldap/icons/icon-folder-small.png
bin/main/ch/vilki/jfxldap/icons/icon-next-page.png
bin/main/ch/vilki/jfxldap/icons/icon-target_small.png
bin/main/ch/vilki/jfxldap/icons/icon-target.png
bin/main/ch/vilki/jfxldap/icons/icons8-getrennt-16.png
bin/main/ch/vilki/jfxldap/icons/icons8-getrennt-30.png
bin/main/ch/vilki/jfxldap/icons/icons8-openFile-16.png
bin/main/ch/vilki/jfxldap/icons/icons8-openFile-30.png
bin/main/ch/vilki/jfxldap/icons/icons8-passwort-16.png
bin/main/ch/vilki/jfxldap/icons/icons8-passwort-32.png
bin/main/ch/vilki/jfxldap/icons/icons8-refresh-16.png
bin/main/ch/vilki/jfxldap/icons/icons8-unequal-16.png
bin/main/ch/vilki/jfxldap/icons/icons8-verbunden-16.png
bin/main/ch/vilki/jfxldap/icons/icons8-verbunden-30 - Kopie.png
bin/main/ch/vilki/jfxldap/icons/icons8-verbunden-30.png
bin/main/ch/vilki/jfxldap/icons/key.png
bin/main/ch/vilki/jfxldap/icons/ldapTree.png
bin/main/ch/vilki/jfxldap/icons/ldapTreeSmall.png
bin/main/ch/vilki/jfxldap/icons/next-page-blue.png
bin/main/ch/vilki/jfxldap/icons/remove.png
bin/main/ch/vilki/jfxldap/icons/search_small.png
bin/main/ch/vilki/jfxldap/icons/searchIcon.png
bin/main/ch/vilki/jfxldap/icons/searchResult.png
bin/main/ch/vilki/jfxldap/icons/set_attribute_small.png
bin/main/ch/vilki/jfxldap/icons/settings_icon.png
bin/main/ch/vilki/jfxldap/icons/stopIcon.png
bin/main/ch/vilki/jfxldap/icons/treeIcon.png
bin/main/ch/vilki/jfxldap/icons/unequal.png
bin/main/ch/vilki/jfxldap/icons/uploadDocument.png
bin/main/ch/vilki/jfxldap/icons/objectclass/address.png
bin/main/ch/vilki/jfxldap/icons/objectclass/country.png
bin/main/ch/vilki/jfxldap/icons/objectclass/group.png
bin/main/ch/vilki/jfxldap/icons/objectclass/organisation.png
bin/main/ch/vilki/jfxldap/icons/objectclass/orgUnit.png
bin/main/ch/vilki/jfxldap/icons/objectclass/person.png
bin/main/ch/vilki/jfxldap/icons/objectclass/top.png
